@{
    ViewBag.Title = "Contact us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <p>
        1234 W. Huntington Blvd<br/>
        Traverse City, MI 49696
    </p>
</address>

<address>
    <p>
        Toll-free:(800) 111-2222<br />
        Español:(800) 111-3333<br />
        Local:(231) 555-1234<br />
        Fax:(231) 555-1224
    </p>
</address>